<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!--<serviceThrottling maxConcurrentCalls="1" maxConcurrentInstances="1"/>-->
  <!--33 - 1 Sync: 0.3061172 Async: 0.0996065-->
  <!--<serviceThrottling maxConcurrentCalls="32" maxConcurrentInstances="1"/>-->
  <!--33 - 1 Sync: 0.2352261 Async: 0.0589333-->
  <!--<serviceThrottling maxConcurrentCalls="1" maxConcurrentInstances="32"/>-->
  <!--33 - 1 Sync: 0.2189483 Async: 0.0430536-->
  <serviceThrottling maxConcurrentCalls="32" maxConcurrentInstances="32"/>
  <!--33 - 1 Sync: 0.2741014 Async: 0.079168-->
</configuration>
