<div id="notfound">
    <div class="notfound">
        <div class="notfound-404">
            <h1>UCSD</h1>
        </div>
        <h2>Distribuited Programming - Final assignment</h2>
    </div>
</div>