<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div id="notfound">
        <div class="notfound">
            <div class="notfound-404">
                <h1>Error</h1>
            </div>
            <h2>Oops, An error occured!</h2>
        </div>
    </div>
</body>
</html>
